<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="#" id="test" class="J_menuItem">asd</a>
<script src="../js/lib/plugins/require/require.js"></script>
<script src="../js/common/config.js"></script>
<script>
    require(['jquery', 'jsHelper', 'promise', 'layer'], function ($, jsHelper) {
        top._LAYER.msg('aaa');
        var a = document.getElementById('test');
        console.log(jsHelper.GetRequest()['name']);
        a.onclick= function () {
            //新增tab标签：name-标签名；url-访问路径
            top._SHOWTAB({name: 'asd', url: 'http://www.baidu.com'});
        }
    });
</script>
</body>
</html>