<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <title>急救查询</title>
    <link href="../css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="../css/index.css?v=2" rel="stylesheet">
    <style>
        p{
            padding-bottom: 10px;
        }
        p span:first-child{
            width: 100px;
            display: inline-block;
        }
        .line{
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
        }
        .content{
            padding: 10px 20px 0;
        }
    </style>
</head>
<body>
    <div style="padding:20px 0px 20px 100px;">
        <div class="line">
            基本信息
        </div>
        <div class="content">
            <p><span class="color4">接警号码</span><span id="alarmTel"></span></p>
            <p><span class="color4">急救地址</span><span id="callAddress"></span></p>
            <p><span class="color4">患者人数</span><span id="patientNum"></span></p>
            <p><span class="color4">患者性别</span><span id="patientGender"></span></p>
            <p><span class="color4">主&#12288;&#12288;诉</span><span id="chiefComplaint"></span></p>
            <p><span class="color4">初步诊断</span><span id="disease"></span></p>
        </div>
        <div class="line">
            急救信息
        </div>
        <div class="content">
            <p><span class="color4">目&nbsp;&nbsp;的&nbsp;&nbsp;地</span><span id="callAddress1" class="main-color"></span></p>
            <p><span class="color4">派遣车辆</span><span id="carId"></span></p>
            <p><span class="color4">医&#12288;&#12288;生</span><span id="yisheng"></span></p>
            <p><span class="color4">护&#12288;&#12288;士</span><span id="hushi"></span></p>
            <p><span class="color4">司&#12288;&#12288;机</span><span id="siji"></span></p>
            <p><span class="color4">送达医院</span><span id="deliverAddress" class="main-color"></span></p>
        </div>
        <div class="line">
            调度员
        </div>
        <div class="content">
            <p><span class="color4">姓&#12288;&#12288;名</span><span id="realName"></span></p>
            <p><span class="color4">调度时间</span><span id="createDate"></span></p>
        </div>
    </div>
    <script src="../js/lib/plugins/require/require.js"></script>
    <script src="../js/common/config.js"></script>
    <script src="../js/scripts/detail.js?v=8"></script>
</body>
</html>