<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <title>急救查询</title>
    <link href="../css/bootstrap.min14ed.css" rel="stylesheet">
    <link href="../css/index.css?v=2" rel="stylesheet">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mHjQLONxGpRtrZHZkxr9t3cD3n0HupQ0"></script>
</head>
<body>
    <div class="map-content">
        <div id="map" style="height:100%;width: 100%;">

        </div>
    </div>
    <script src="../js/lib/plugins/require/require.js"></script>
    <script src="../js/common/config.js"></script>
    <script src="../js/scripts/trace.js"></script>
</body>
</html>